*{
    margin : 0;
    padding: 0;
}

.navbar{
    background: lightseagreen;
    display : grid;
    grid-template-columns: 90% 10%;

}
body{
    background:white;
    padding-top: 1em;
}
.navbar button{
    background: orange;
    color: white;
}

.navbar div{
    color: whitesmoke;
}

.container{
    display: grid;
}

.gridOrdenes{
    display:none;
    color:black;
}

.container .contenido{
    display: grid;
    background: white;
    padding: 1em;
    gap : 1em;
    margin-top: 3em;
}

.gridCont{
    display: grid;
    grid-template-rows: auto;
    
    gap : 2em;
}

.gridCont div{
    background:white;
    padding: 1em;
    
}

.container .actionButtons{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}




