*{
    margin : 0;
    padding: 0px;
}
body{
color: white;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size: 1.2 rem;
line-height: 1.6 rem;
overflow-x: hidden;
margin-top:3cm;
}
p {
    margin-bottom: 1.6 rem;
    font-family: 'Nunito Sans', sans-serif;
}
/* HEADER */

.header {   
    z-index:1000000;
    background: rgb(220, 220, 220);
    padding: 0 0;
    position: fixed;
    left:0;
    top: 0;
    right: 0;

}
.logo{
    font-family: 'Questrial', sans-serif;
    font-size: 50px;
}
.header a{
    color: black;
    text-decoration: none;
}
.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    display: block;
    padding: 0.5 rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 0.5cm;
    margin-right:0.5cm;
}

    .navigation ul li a:hover {
        background:grey;

        }
    


.picture-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    justify-items: center;
    grid-gap: 5px;
    grid-row-gap: 0px;
    margin-top: 3cm;
}

.grid-box img {
    width: 100%;
    transition: 1.2s;
  padding:5px;
  margin-top:15px;
  overflow:hidden;
}
.grid-box img:hover{
  transform:scale(1.04);
  
  
}
.footer{
    position:absolute; 
    z-index:1;
    background: rgb(220, 220, 220);
    padding: 0 15cm;
    text-align: center;

}
.footer a{
    font-family: 'Questrial', sans-serif;
    color:grey;
}

.footer p{
    font-size: 12px;
}
.grid-container {
    display: grid;

    gap: 0px 0px;
    grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . .";
  }
