html,
body {
  height: 100%;
  background-color: #fad3e4;  
}

body {
  display: flex;
  align-items: center;
}
h3 {
 font-size: small;
}

#admin {
	display: none;
}

#user {
	display: none;
}

#register {
 display: none;
}

#login {
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cardProducto{
  width: 40rem; 
  margin: auto; 
  width: 50%; 
  padding: 10px;
}

.imgProducto {
  width: 600px;
  height: 600px;
}

.btnCompra {
  background-color: green;
  color: white;
}

.iconoCarrito{
  color:white;
}

.img-thumbnail {
  height: 30px;
}
.cartNodeCount {
  width: 30px;
}

.form_top {
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem #d8d64d;
	margin-bottom: 1rem;
	background-color: #31B1E5;
	align-items: center;
}

.form_top h2 {
	font-weight: bold;
	color: #566cec;
	font-size: 18px;
}

h2 span {
	color: #e2bb84;
}

.form_reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn_form {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.inputUser, .inputPassword, .inputNombre, .inputApellidos, .inputEmail, .inputDir,  .btn_submit, .btn_reset, .btn_back{
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
  transition: all .5s;
  width: 50%;
  
}

.btn_submit, .btn_reset{
	width: 40%;
	border-bottom: none;
	background-color: #31B1E5;
	color: white;
}
.btn_back{
  background-color: #CAC8C8;
  width: 40%;
}

.btn_reset {
	background-color: #EDA135;
}

.btn_submit:hover {
	background-color: #4C9ED9;
}

.btn_reset:hover{
	background-color: #FA9535;
}
